<%-include ./shared/header.ejs%>
<%-include ./shared/navbar.ejs%>


<style>


</style>
<div class="container">
        <div class="row">
          <!-- <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-show="isDisplay">
              <strong>{{successMessage }}</strong>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Login Form</h2>
              <form style="border:1px solid #ccc" action="/api/login" method="post" >
                <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname">
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" autocomplete="password" name="pass">
                      
                  <button type="submit" value="Submit" class="lgbtn">Login</button>
                  <!-- <p style="color: coral ;text-align: center"><strong> {{msgAlert}}</strong></p> -->
                  <label>
                    <input type="checkbox" checked="checked" name="remember" > Remember me
                  </label>
                  <div style="background-color:#f1f1f1">
                    <span class="psw">Forgot <a routerLink="/forget">password?</a></span>
                  </div>
                  <div class="pull-left">
                    <div class="addthis_inline_share_toolbox"></div>
                  </div>
              </form>
          </div>
        </div>
      </div>
<%-include ./shared/footer.ejs%>